body {
  font-family: "Regular";
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  background-image: url("../image/header.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  z-index: 0;
}

header .gradient {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 27% 61% 12%;
      grid-template-rows: 27% 61% 12%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 80%);
}

header .gradient .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 8%;
}

header .gradient .menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .gradient .menu .logo img {
  width: 60px;
  height: 60px;
}

header .gradient .menu .logo h4 {
  font-size: 26px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-top: 8%;
}

header .gradient .menu .logo h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
}

header .gradient .menu .menuBt {
  display: none;
}

header .gradient .menu .mobButtonMenu {
  display: block;
  margin-top: 0%;
  border: none;
  background-color: rgba(255, 0, 0, 0);
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .gradient .menu .mobButtonMenu hr {
  width: 70px;
  border: 2px solid black;
  margin: 17px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .gradient .menu .mobButtonMenu:hover hr, header .gradient .menu .mobButtonMenu:focus hr {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .gradient .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .gradient .info h1 {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  padding: 0 5%;
}

header .gradient .info h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ebebeb;
  padding: 5% 8%;
}

header .gradient .info a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  height: 45px;
  background-color: #F6D330;
  padding: 16px 40px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

header .gradient .info a img {
  width: 17px;
  margin-bottom: 1px;
  margin-left: 13px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .gradient .info a:hover img, header .gradient .info a:focus img {
  margin-left: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .gradient .scroll a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e4e4e4;
  text-decoration: none;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .gradient .scroll a:hover, header .gradient .scroll a:focus {
  color: #b6b6b6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 700px) {
  header .gradient {
    -ms-grid-rows: 15% 75% 15%;
        grid-template-rows: 15% 75% 15%;
  }
  header .gradient .menu {
    padding: 3% 13%;
  }
  header .gradient .menu .logo img {
    width: 50px;
    height: 50px;
  }
  header .gradient .menu .logo h4 {
    font-size: 26px;
    margin-top: 8%;
  }
  header .gradient .menu .logo h5 {
    font-size: 10px;
  }
  header .gradient .menu .menuBt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .gradient .menu .menuBt a {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: large;
    font-weight: 600;
    padding: 5px 0;
    margin: 5px 10px;
    text-decoration: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .gradient .menu .menuBt a:hover, header .gradient .menu .menuBt a:focus {
    color: #F6D330;
    border: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .gradient .menu .mobButtonMenu {
    display: none;
  }
  header .gradient .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .gradient .info h1 {
    margin-top: 10%;
    font-size: 75px;
  }
  header .gradient .info h3 {
    font-size: 22px;
    padding: 15px 20%;
  }
  header .gradient .scroll a {
    font-size: large;
  }
}

main .box {
  padding: 15% 10%;
  padding-top: 8%;
}

main .box h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100px;
  padding: 0;
  margin: 0;
}

main .box hr {
  margin: 12% 0;
  margin-top: 0;
  width: 20%;
  border: 3px solid #F6D330;
}

main .box .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .box .content img {
  width: 90%;
}

main .box .content p {
  margin: 8% 0;
  margin-left: 2%;
  font-weight: 400;
}

main .box .beautifulkart {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
  padding-right: 10%;
  line-height: 120%;
}

main .orange {
  background-color: #F6D330;
}

main .orange hr {
  border: 3px solid white;
}

main .orange .karts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .orange .karts .kart {
  background-color: white;
  padding: 1% 3%;
  padding-bottom: 10%;
  margin: 5% 0;
}

main .orange .karts .kart img {
  width: 90%;
  margin: auto;
  margin-left: 5%;
  margin-bottom: 5%;
}

main .orange .karts .kart h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}

main .orange .karts .kartText {
  width: 100%;
  padding: 1% 3%;
}

main .orange .karts .kartText h2 {
  margin-left: -5%;
  padding-left: 0;
  color: black;
  font-size: 30px;
  font-weight: 700;
}

main .orange .karts .kartText ul {
  margin-top: 40px;
  list-style-type: disc;
  color: white;
}

main .orange .karts .kartText ul li {
  color: white;
  margin: 15px 10px;
  font-size: 20px;
  font-weight: 500;
}

main .orange .karts .kartText ul li span {
  color: black;
}

main .orange .karts .kartText .lineB {
  margin: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: start;
      align-content: start;
}

main .orange .karts .kartText .lineB hr {
  margin-top: 12px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 18%;
  border: 1px solid white;
}

main .orange .karts .kartText .lineB span {
  margin-top: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 1%;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

@media (min-width: 1000px) {
  main .box hr {
    width: 12%;
  }
  main .box .content {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main .box .content .blockIMG {
    width: 95%;
    overflow: hidden;
  }
  main .box .content .blockIMG img {
    min-height: 100%;
    width: auto;
  }
  main .box .content p {
    margin: 0;
    margin-left: 3%;
    font-size: 19px;
    padding-right: 0;
  }
}

@media (min-width: 700px) {
  main .box {
    padding: 5% 15%;
    padding-top: 5%;
  }
  main .box hr {
    margin-bottom: 5%;
  }
  main .box .beautifulkart {
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
  }
  main .content .blockIMG img {
    width: 100%;
  }
  main .orange .karts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .orange .karts .kart {
    padding: 1% 3%;
    padding-bottom: 5%;
    margin: 5% 2%;
  }
}

footer {
  padding: 15% 10%;
  /*
        padding: 20% 15%;
    padding-top: 5%;
    */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  color: white;
}

footer h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

footer hr {
  width: 20%;
  margin-left: 0;
  border: 2px solid #F6D330;
  margin: 60px 0;
}

footer h3 {
  font-size: 20px;
}

footer h3 span {
  text-decoration: underline;
  color: #F6D330;
}

footer .cont h3 {
  margin-top: 10%;
  font-size: 20px;
}

footer .cont form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

footer .cont form input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 15px 25px;
  font-size: 15px;
  font-weight: 600;
}

footer .cont form input::-webkit-input-placeholder {
  color: #000000;
  font-weight: 600;
}

footer .cont form input:-moz-placeholder {
  color: #000000;
  font-weight: 600;
}

footer .cont form button {
  font-size: 18px;
  margin: 15px 0;
  padding: 8px 25px;
  width: 200px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: #F6D330;
  font-weight: 600;
}

footer .cont form button img {
  margin-bottom: 1px;
  margin-left: 13px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .cont form button:hover img, footer .cont form button:focus img {
  margin-left: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 700px) {
  footer {
    padding: 5% 15%;
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
  }
  footer h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  }
  footer hr {
    margin: 40px 0;
  }
  footer h3 {
    font-size: 20px;
  }
  footer .cont h3 {
    margin-top: 10%;
    font-size: 24px;
  }
  footer .cont form button {
    font-size: 15px;
    height: 50px;
  }
}

.icBt {
  width: 20px;
  margin-left: 18px;
}

.menuMobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
}

.menuMobile .headerMenuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  padding: 20px 10px;
  margin-bottom: 50px;
}

.menuMobile .headerMenuMobile .logoMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 5%;
}

.menuMobile .headerMenuMobile .logoMobile img {
  width: 48px;
  height: 48px;
}

.menuMobile .headerMenuMobile .logoMobile h4 {
  font-size: 23px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-top: 8%;
  color: white;
}

.menuMobile .headerMenuMobile .logoMobile h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 9px;
  color: white;
}

.menuMobile .headerMenuMobile .menuBtClose {
  margin-right: 5%;
  width: 40px;
  background-color: rgba(100, 48, 48, 0);
  border: none;
}

.menuMobile .headerMenuMobile .menuBtClose hr {
  margin: -4px;
  border: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuMobile .headerMenuMobile .menuBtClose hr[id="left"] {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menuMobile .headerMenuMobile .menuBtClose:hover hr, .menuMobile .headerMenuMobile .menuBtClose:hover:focus hr {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menuMobile .headerMenuMobile .menuBtClose:hover hr[id="left"], .menuMobile .headerMenuMobile .menuBtClose:hover:focus hr[id="left"] {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menuMobile .mainMenuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: end;
  margin-bottom: 50px;
}

.menuMobile .mainMenuMobile a {
  display: block;
  text-decoration: none;
  font-size: 35px;
  height: 80px;
  margin: 10px auto;
  color: black;
  font-weight: 600;
  padding-bottom: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menuMobile .mainMenuMobile a:hover, .menuMobile .mainMenuMobile a:focus {
  color: #F6D330;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menuMobile .footherMenuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuMobile .footherMenuMobile a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  height: 45px;
  background-color: #F6D330;
  padding: 16px 40px;
  font-weight: 700;
}

.menuMobile .footherMenuMobile a img {
  width: 17px;
  margin-bottom: 1px;
  margin-left: 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menuMobile .footherMenuMobile a:hover img, .menuMobile .footherMenuMobile a:focus img {
  margin-left: 13px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
}
/*# sourceMappingURL=style.css.map */